.fc.fc-theme-standard {
    width:100%;
}

.fc-toolbar-chunk
{
    display:inline-flex
}

button.fc--button.fc-button.fc-button-primary
{
    display:none
}
.fc-toolbar-title
{
    font-weight:normal;
    font-size:16px !important;
    margin-top:11px !important;
}
button.fc-button.fc-prev-button, button.fc-button.fc-next-button
{
    border:none !important;
    background-color:none !important
}
button.fc-button.fc-prev-button:hover, 
button.fc-button.fc-next-button:hover, 
button.fc-button.fc-prev-button:active, 
button.fc-button.fc-next-button:active 
{
    border:none !important;
    background-color:#FFFFFF !important; 
    color:#F59100 !important;
    box-shadow: none !important;            
}

.fc td.fc-day
{
    border:2px solid white;
    background-color:#F5F5F5
}

.fc-col-header-cell, .fc-scrollgrid, th.fc-timegrid-axis.fc-scrollgrid-shrink, .fc-theme-standard td
{
    border-color:white !important;
}
td.fc-timegrid-slot-minor
{
    border-bottom:2px solid white !important;
}
.fc .fc-scrollgrid-section-sticky > *
{
    position: relative;
}

.fc .fc-timegrid-slot-minor
{
    border:none;
}
a.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion,
a.fc-col-header-cell-cushion,
a.fc-daygrid-day-number
{
    color:#7a756f !important;
}
.fc-scroller
{
    overflow: hidden !important
}
.fc-event
{
    background:none !important;
    border:none;
    border-radius:0px;
}
button.fc-button.fc-button-active, button.fc-button:disabled
{
    background-color: #F59100 !important;
    border: 1px solid #F59100 !important;
    color:#FFFFFF !important
}
button.fc-button:focus
{
    box-shadow:none !important
}
button.fc-button.fc-button-active:hover
{
    background-color: #EE7F01 !important;
    border: 1px solid #F59100 !important;
    color:#FFFFFF !important
}
button.fc-button 
{
    background-color: #FFFFFF !important;
    border: 1px solid #F59100 !important;
    color:#F59100 !important
}
button.fc-button:hover
{
    background-color: #F59100 !important;
    border: 1px solid #F59100 !important;
    color:#FFFFFF !important
}
button.fc-button:active
{
    background-color: #C27300 !important;
    box-shadow: inset 5px 5px 5px rgba(16, 22, 26, 0.2) !important;
    border: 1px solid #F59100 !important;
}
.fc-timeGridWeek-view th.fc-col-header-cell.fc-day
{
    text-align: left;
}
.fc th
{
    font-weight:normal;
    text-align: center;
}
.fc-right h2
{
    font-weight:normal;
    font-size: 16px
}

td.fc-daygrid-day
{
    height: 100px;
}

.fc .fc-timegrid-axis-cushion
{
    max-width: 69px !important;
}

a.fc-daygrid-week-number
{
    font-size: 11px;
    font-style: italic;
}

.up-calendar .up-calendar__tooltip {
    z-index: 100;
    border-radius: 4px;
    max-width: 15rem;
    overflow: hidden;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 1px 2px 1px;
}

.up-calendar .up-calendar__tooltip .up-calendar__tooltip__header {
    padding: 1rem;
    background-color: #F59100 ;
    color: white;
}
  
.up-calendar .up-calendar__tooltip .up-calendar__tooltip__content {
    padding: 1rem;
    background-color: white;
}