.cache/
.vs/
.idea/
node_modules/

test/index.js
test/index.js.map

**/*/npm-debug.log
public/

test/*
!test/index.html
!test/index.tsx

coverage/*
*.snap

src/Others

e2e/cypress/
e2e/node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/*/yarn-error.log
dist/
