################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
node_modules/
dist/

test/index.js
test/index.js.map

npm-debug.log
