html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* IE10+ */
::-ms-clear {
  display: none;
}

/* Chrome */
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration,
::-webkit-caps-lock-indicator,
::-webkit-search-cancel-button,
::-webkit-credentials-auto-fill-button {
  display: none;
  visibility: hidden;
}

p,
em,
li,
dt,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

/** TODO : Move specific storybook styles in separate file */
.sbdocs.sbdocs-wrapper {
  background-color: #fafafa;
}

.sbdocs.sbdocs-content {
  max-width: 100%;
}

/* Temporaire */
.sbdocs.sbdocs-preview > div:last-child > div:first-child > div:first-child {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
