@font-face {
    font-family: 'Pe-icon-7-stroke';
    src: url('./Pe-icon-7-stroke.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'upfont';
    src: url('./upfont.ttf');
    font-weight: normal;
    font-style: normal;
}