// Imports
import * as React from 'react';
import classnames from 'classnames';

export interface {{name}}Props {

}

const {{name}} = (props: {{name}}Props) => {
  return <div className="{{className}}"></div>
}

export default {{name}};
